<%- include("partials/header.ejs") %>

    <!--show all the posts by for loop-->

    <div class="posts-container">
        <% for(let i=0;i<posts.length;i++) { %>

            <div class="posts-card">
                <%if(posts[i].image) { %>
                    <img src="<%= posts[i].image %>" alt="Post Image" class="post-image" />
                    <% } %>

                    <h2>
                        <%= posts[i].title %>
                    </h2>
                    <p>
                        <%= posts[i].content %>
                    </p>
            </div>

            <% } %>
    </div>

    <%- include("partials/footer.ejs") %>